{% extends "layout.html" %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>WRITE </h1>
                    <span class="subheading">Your thoughts is your persona!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <h1>EDIT Post</h1>
    <div> <a href="/dashboard">
            <button type="button" class="btn btn-danger rounded">Back</button>
        </a>
    </div>
</div>

<hr>

<div class="container position-relative px-4 px-lg-5">

    <form id="contactForm" action="/edit/{{ sno }}" method="POST" data-sb-form-api-token="API_TOKEN">
        <div class="form-floating">
            <input class="form-control" id="title" name="title" type="text" placeholder="Title" data-sb-validations="required" value="{{ post.title }}" />
            <label for="title">Title</label>
            <div class="invalid-feedback" data-sb-feedback="title:required" value={{ post.title }}>title.</div>
        </div>
        <div class="form-floating">
            <input class="form-control" id="img_file" name="img_file" type="text" data-sb-validations="required" value="{{ post.img_file }}" />
            <label for="img_file">Image File</label>
            <div class="invalid-feedback" data-sb-feedback="img_file:required">An image file is required.</div>
             <div action="/uploader" method="POST" enctype="multipart/form-data">
                <input type="file" name="img_file" id="img_file">
            </div>
            
        </div>
        <div class="form-floating">
            <input class="form-control" id="slug" name="slug" type="text" placeholder="Slug" data-sb-validations="required" value="{{ post.slug }}" />
            <label for="slug">Slug</label>
            <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="content" name="content" type="text" placeholder="Enter content..." style="height: 12rem; white-space: pre-wrap;" data-sb-validations="required">{{ post.content | safe }}</textarea>
            <label for="content">Content</label>
            <div class="invalid-feedback" data-sb-feedback="content:required">Content is required.</div>
        </div>
        <br>
        <div>
        <button type="submit" class="btn btn-outline-danger rounded text-uppercase" id="submitButton">Submit</button>
        </div>
</div>

</form>


{% endblock %}